body {
  background-color: rgb(127, 255, 206);
  color: #000000;
}

.reveal p {
  color: #777777;
}
.reveal ul, ol {
  color: 000000;
}

.reveal h1, h2, h3, h4, h5, code {
  font-family:'helvetica';
  color: #777777;
  letter-spacing: 2px;
  text-align: left;
}

div.prompt {
  width: 0;
  padding: 0;
  font-size: 0;
}

div.output_area pre {
  color: 000000;
}
div.output_stderr {
  background: #F00;
}
.reveal table th, .reveal table td {
  color: white;
}