body {
    background-color: rgb(0, 128, 128);
    color: #ffffff;
}

.reveal p {
    color: #ffffff;
}
.reveal ul,
li,
ol {
    color: #ffffff;
    font-size: 120% !important;
}

.reveal h1,
h2,
h3,
h4,
h5,
code {
    font-family: "helvetica";
    color: #ffffff;
    letter-spacing: 2px;
    text-align: left;
}

.reveal pre {
    background-color: #000000;
    color: #00ff00;
}

div.prompt {
    width: 0;
    padding: 0;
    font-size: 0;
}

div.output_area pre {
    color: #000000;
}
div.output_stderr {
    background: #f00;
}
.reveal table th,
.reveal table td {
    color: white;
}
